# Resend API Key
RESEND_API_KEY=

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCLxvTQ76Ak9RQ4eBGnlDiMk6lf1hlpNlY
VITE_FIREBASE_AUTH_DOMAIN=optx-b909c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=optx-b909c
VITE_FIREBASE_STORAGE_BUCKET=optx-b909c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=768985312214
VITE_FIREBASE_APP_ID=1:768985312214:web:b04a1b1135acd6a63e1277