# Resend API Key
RESEND_API_KEY=

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAAkkYGflaBbPyR6teV9fXEsf-JuoUibYE
VITE_FIREBASE_AUTH_DOMAIN=optimantix-bff51.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=optimantix-bff51
VITE_FIREBASE_STORAGE_BUCKET=optimantix-bff51.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=48103744786
VITE_FIREBASE_APP_ID=1:48103744786:web:c0b7e410a2d3f1fb1e3fcb
VITE_FIREBASE_MEASUREMENT_ID=G-SPQNCSY9V9